*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    outline:0;
    transition:all 0.5s ease;
}
body{
    background:#edc0bf;
    background: linear-gradient(360deg,#030303 10%,#1f1f1f 360%);
    font-family:'Inter',sans-serif;
}
.container{
    height:100vh;
    width:100vw;
    display:flex;
    place-items: center;
    justify-content:center;
    background-size:cover;
}
.sidebar{
    width:10%;
    height:70%;
    display:grid;
    justify-content: center;
    margin-right:10px;
    border-radius: 8px;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(90px);
    padding:4px;
    color:black;
}
.sidebar .sidehead{
    height:20%;
    margin-top:8px;
    border-radius: 5px;
    display:grid;
    place-items: center;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight:500;
    font-size:14px;
    color:white;
    background:rgba(218, 218, 218, 0.14);
    padding:10px;backdrop-filter: blur(60px);
    -webkit-backdrop-filter: blur(90px);
}
.sidebar .sidehead .image img{
    width:60px;
    height:60px;
    border-radius:100%;
    margin-bottom:10px;
}
.sidebar .sidemid{
    height:230%;
    width:120%;
    margin-left:-10px;
    margin-top:-100px;
    border-radius: 5px;
    background:rgba(218, 218, 218, 0.14);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(80px);
    display:grid;
    place-items: center;
    font-size:18px;
    font-family:'Nirmala UI';
    color:white;
}
.sidebar .sidebottom{
    border-radius: 5px;
    display:grid;
    margin-bottom:-80px;
    place-items:center;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size:10px;
    font-weight:500;
    color:white;
}
.docard{
    width:70%;
    height:70%;
    color:black;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(80px);
    padding:30px;
    border-radius:8px;
    overflow-y: auto;
}
::-webkit-scrollbar{
    width:0;
}
.container .docard .title{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:26px;
    font-weight:bolder;
    margin-bottom:14px;
    color:white;
}
.container .docard .msg{
    width:97%;
    position:relative;
    display:flex;
    justify-content: left;
}
.container .docard .warn{
    font-size:10px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight:500;
    color:red;
    margin-top:-4px;
    margin-bottom:6px;
    display:none;
    animation:buttons 0.3s linear;
}
@keyframes buttons {
    0%{
        transform: scale(0.2);
    }
}
.container .docard .inp{
    display:flex;
    place-items: center;
    justify-content: space-between;
}
.container .docard .inp input{
    width:82%;
    height:29px;
    border:none;
    background:transparent;
    padding:6px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:white;
    border-radius:6px;
    font-weight:400;
}
.container .docard .inp input:focus{
    background:rgba(218, 218, 218, 0.14);
    padding:10px;backdrop-filter: blur(60px);
    -webkit-backdrop-filter: blur(90px);
}
.container .docard .inp input:focus::placeholder{
    color:whitesmoke;
}
.container .docard .inp button{
    width:70px;
    border:none;
    padding:6px;
    background:transparent;
    border-radius:6px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight:700;
    color:white;
    cursor: pointer;
}
.container .docard .inp button:hover{
    background:white;
    color:black;
}
.container .docard hr{
    margin-top:20px;
    width:100%;
    margin-left:2px;
    margin-bottom:20px;
}
#tasks{
    padding:0px;
}
#tasks .task{
    display:flex;
    flex-wrap:auto;
    justify-content: space-between;
    align-items:center;
    width:100%;
    height:40px;
    padding:10px;
    background:rgba(218, 218, 218, 0.14);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(80px);
    border-radius:6px;
    margin-bottom:8px;
    animation:buttons 0.2s linear;
}
#task .task .content{
    flex:1 1 0%;
}
#tasks .content .text{
    width: 200%;
    border:none;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:white;
    background:none;
    border-radius:6px;
    font-weight:650;
}

#tasks .actions{
    margin-right:-12px;
    margin-bottom:6px;
    width:112px;
    height:35px;
    display:inline-block;
    place-items: center;
    padding:6px;
}

#tasks .actions .edit,.delete{
    border:none;
    width:45px;
    height:28px;
    font-size:11px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:whitesmoke;
    background:transparent;
    border-radius:6px;
    font-weight:800; 
    margin-right:5px;
}
#tasks .actions button:hover{
    background:#edc0bf;
    color:red;
    cursor: pointer;
}

/* ----- RESPONSIVENESS CODES -------- */

@media only screen and (max-width: 900px) {
    .container{
        display: flex;
        flex-direction: column;
        place-items: center;
        justify-content:center;
    }

    .sidebar{
        width:100%;
        height: 10%;
        display:flex;
        place-items: center;
        justify-content:space-between;
        padding: 6px;
        margin-right: 0;
        margin-bottom: 20px;
    }

    .sidebar .sidehead{
        height:100%;
        width: 30%;
        display:flex;
        gap: 10px;
        flex-direction: row;
        place-items: center;
        justify-content: space-evenly;
        margin-top: 0;
    }

    .sidebar .sidehead .image{
        display: grid;
        place-items: center;
    }
    .sidebar .sidehead .image img{
        width:40px;
        height:40px;
        border-radius:100%;
        margin-bottom: 0;
    }

    .sidebar .sidehead .name{
        display: grid;
        place-items: center;
    }

    .sidebar .sidemid{
        height:100%;
        width: 68%;
        display:flex;
        gap:20px;
        place-items: center;
        justify-content: center;
        margin-top: 0;
        font-weight: bold;
    }
    .sidebar .sidebottom{
        display:none;
    }
    
    .docard{
        width:100%;
        height:60%;
        padding: 10px;
    }

    .container .docard .msg{
        width:100%;
    }
}