:root{
    --bhagva: #F86633;
    --safed: #ECF9FC;
    --kaala: #1E1E1E;
    --sona: #FFF6E9;
}

@font-face{
    font-family: 'Lufga';
    src: url('../css/fonts/Lufga Light.otf') format("opentype");
}

@font-face{
    font-family: 'Lufga Bold';
    src: url('../css/fonts/Lufga Bold.otf') format("opentype");
}

*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    outline:0;
    transition:all 0.5s ease;
}

body{
    height: 100vh;
    width: 100vw;
    font-family: 'Lufga';
    background-image:linear-gradient(to bottom right, rgb(61, 247, 276),rgb(63, 10, 184));
    display: flex;
    place-items: center;
    justify-content:center;
}

.container{
    width: 350px;
    height: 600px;
    background-color: var(--safed);
    border-radius: 20px;
    padding:30px;
}

.container .sidebar{
    display: flex;
    flex-direction: row;
    gap:10px;
    margin-bottom: 20px;
}

.container .sidebar .sideleft{
    width: 60%;
    height: 50px;
    color: var(--kaala);
}

.container .sidebar .sideleft .title{
    font-family: 'Lufga Bold';
    font-size: 30px;
}

.container .sidebar .sideleft .fullname{
    font-size: 12px;
    font-weight: 500;
}

.container .sidebar .sideright{
    width: 40%;
    height: 50px;
    display: grid;
    justify-items: right;
}

.container .sidebar .sideright img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.container .docard .msg .warn{
    font-size: 10px;
    color: var(--bhagva);
    display: none;
    animation: warn 0.3s linear;
    margin-bottom: 10px;
}

@keyframes warn {
    0%{
        transform: scale(0.2);
    }
}

.container .docard .inp{
    display:flex;
    place-items: center;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 20px;
}

.container .docard .inp input{
    width:82%;
    height:29px;
    border:none;
    background-color: var(--sona);
    padding:6px;
    color:var(--kaala);
    border-radius: 16px;
    font-family: 'Lufga';
    font-weight:400;
}

.container .docard .inp input:focus{
    padding:10px;
}

.container .docard .inp input:focus::placeholder{
    color:var(--kaala);
}

.container .docard .inp button{
    width:80px;
    border:none;
    padding:6px;
    background-color: var(--bhagva);
    border-radius: 16px;
    font-family: Lufga Bold;
    color:var(--kaala);
    cursor: pointer;
}
.container .docard .inp button:hover{
    background-color: var(--kaala);
    color: var(--safed);
}

.container .docard hr{
    width: 98%;
    margin-left: 4px;
    height: 0.5px;
    margin-bottom:20px;
}

#tasks{
    padding:0px;
}

#tasks .task{
    display:flex;
    flex-wrap:auto;
    justify-content: space-between;
    align-items:center;
    width:100%;
    height:40px;
    padding:4px;
    background-color: var(--bhagva);
    border-radius: 16px;
    margin-bottom: 10px;
    animation:buttons 0.2s linear;
}

#tasks .task .content{
    width: 75%;
    height: 100%;
    display: grid;
    justify-content: left;
}

#tasks .task .content .text{
    border:none;
    background: none;
    font-family: 'Lufga Bold';
    margin-left:8px;
    color: var(--kaala);
}

#tasks .task .actions{
    width: 100px;
    height:100%;
    display: flex;
    place-items: center;
    justify-content: space-between;
    background: none;
}

#tasks .actions .edit,.delete{
    border:none;
    width:45px;
    height:28px;
    font-size:10px;
    font-family: 'Lufga Bold';
    color: var(--safed);
    background-color: var(--kaala);
    border-radius: 16px;
    margin-right:5px;
}

#tasks .actions button:hover{
    background: var(--sona);
    color: var(--bhagva);
    cursor: pointer;
}

@media only screen and (max-width: 420px){
    .container{
        height: 100%;
        width: 100%;
        border-radius: 0;
    }
}